// ==================================================================
// iFrame
// ==================================================================
.#{$prefix}iframe {
  display      : inline-block;
  margin-bottom: 15px;
  > iframe {
    margin-bottom: 0;
  }
}
