// ==================================================================
// Special
// ==================================================================
.#{$prefix}display-none {
  display: none !important;
}
.#{$prefix}clearfix {
  &:after {
    clear: both;
  }
  &:after,
  &:before {
    content: " ";
    display: table;
  }
}
