// ==================================================================
// Variables
// ==================================================================
$prefix: 'ohv-';
$primary: #ff6600;
$default: #E1E5EC;
$success: #5cb85c;
$danger: #d9534f;
$info: #5bc0de;
$warning: #f0ad4e;
$agent: #ACB5C3;
$broker: #4B77BE;
$manager: #C49F47;
$lender: #8E44AD;
$status-active: #99cb94;
$status-inactive: #C1C1C1;
$status-pending: #EFBC00;
$status-sold: #EF3020;
$popup-width: 860px;
$popup-width-md: 585px;
